on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        zig-version: ['0.15.1', '0.15.2']
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{matrix.zig-version}}
      - run: zig build
      - run: zig build test
#  lint:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: goto-bus-stop/setup-zig@v2
#      - run: zig fmt --check src
